// .login-form{
//   display: flex;
  
// }


// .login-wrapper{
//   padding: 5%;
//   width: 10%;
//   flex-direction: row;
//   flex: 2;
//   margin: 0 auto;
//   justify-content: center;
// }

// .box{
//   width:100%;
//   background:#fff;
//   border-radius:10px;
// }
// .login-wrapper form{
//   width:100%;
// }
// .full-width{
//   width: 100%;
//   color: white;
// }

// .login-wrapper mat-card-header{
//   text-align:center;
//   width:100%;
//   display:block;
//   font-weight:700;
// }

// .login-wrapper mat-card-header mat-card-title{
//   font-size: 200%;
//   font-family: Georgia, 'Times New Roman', Times, serif;
//   color: black;
// }

// .signin-wrapper{
//   display: flex;
//   padding-top: 20px;
// }
// .btnLogin{
//   // background:#ffce44;
//   border: 1px solid currentColor;
//   width: 70%;
//   height: 50px;
//   border-radius: 25px;
//   margin-right: 10%;
// }
// .iconGG{
//   justify-content: center;
//   margin-top: 100px;
//   margin-right: 10%;
//   width: 10%;
//   height: 10%;
//   align-items: center;
// }

mat-card{
  max-width: 100%;
  display: flex;
  width: 300px;
  margin: 10% auto;
}
.full-width {
  width: 100%;
  // min-width: 300px;
}

.login-wrapper{
  justify-content: center;
}

mat-card-header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100pt;
  display: flex;
  justify-content: center;
}

.btnLogin{
  float: right;
  border-radius: 25px;
  width: 100px;
  margin-left: 10%; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}

.iconGG{
  width: 25px;
  height: 25px;
}
