<app-navigation></app-navigation>
<div *ngIf="requirements == undefined">
    <section>
        <div class='sk-three-bounce'>
            <div class='sk-bounce-1 sk-child'></div>
            <div class='sk-bounce-2 sk-child'></div>
            <div class='sk-bounce-3 sk-child'></div>
        </div>
    </section>
    <!-- <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field> -->
</div>
<div class="home-wrapper" *ngIf="requirements != undefined">
    <div class="checkbox-wrapper">
        <mat-card class="checkbox-card">
            <mat-checkbox *ngFor="let i of checkBox">{{i}}</mat-checkbox>
        </mat-card>
    </div>
    <div class="requirement-wrapper">
        <div *ngFor="let requirement of requirements">
            <app-requirement-details [requirement]="requirement"></app-requirement-details>
        </div>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>