<div>
    <app-navigation></app-navigation>

    <mat-card>
        <div class="signup-wrapper" fxLayout="row" fxLayoutAlign="center center">

            <mat-card-header>
                <mat-card-title>Register</mat-card-title>
            </mat-card-header>

            <form class="form">

                <mat-card-content>
                    <mat-form-field class="full-width">
                        <input matInput [(ngModel)]="emailInput" [ngModelOptions]="{standalone: true}"
                            placeholder="Email*">
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input matInput [(ngModel)]="passwordInput" [ngModelOptions]="{standalone: true}"
                            placeholder="Password*">
                    </mat-form-field>
                </mat-card-content>

                <button mat-stroked-button color="accent" type="submit" class="btn-register"
                    (click)="signup()">Register</button>
            </form>

        </div>
    </mat-card>
</div>