<mat-toolbar class="mat-elevation-z6">
    <mat-toolbar-row>
        <span>Project Helper</span>
        <span style="flex:auto;"></span>
        <!--<div *ngIf="!isUserLoggedin()">
            <button mat-button (click)="googleLogin()">Sign In</button>
        </div>
        <div *ngIf="isUserLoggedin()">
            <img src="{{item.photoURL}}"/>
        </div>-->
        <div id="btnLog">
            <!--Chưa có ai đăng nhập thì hiện nút cho đăng nhập / đăng ký-->
            <div *ngIf="userDetails == null">
                <a [routerLink]="'/signin'" (click)="signinClick()" routerLinkActive="active" id="btnSignin">
                    <button mat-button>Sign In</button>
                </a>
                <a [routerLink]="'/signup'" (click)="signupClick()" routerLinkActive="active" id="btnSignup">
                    <button mat-button>Sign Up</button>
                </a>
                <a [routerLink]="'/createAProject'" (click)="createAProjectClick()" routerLinkActive="active"
                    id="btncreateAProject">
                    <button mat-button mat-raised-button color="Accent">Create A Project</button>
                </a>
            </div>

            <!--Đăng nhập rồi, hiện ảnh đại diện thôi-->
            <div *ngIf="userDetails!=null">
                <button mat-button [matMenuTriggerFor]="menu" id="btnPhoto" style="height: 50px; width: 50px;">
                    <img class="userLoggedin" [src]="userDetails.photoURL" alt="" />
                </button>

                <!--Bấm vào ảnh đại diện, hiện thông tin-->
                <mat-menu #menu="matMenu" xPosition="before">
                    <div style="padding: 10px 20px 10px 20px">
                        <div id="userInfo">
                            <img [src]="userDetails.photoURL " alt="" style="margin: 0 auto;" />
                            <div style="margin-top: 5%;">
                                <p style="text-align:center;"><b>{{ userDetails.displayName }}</b></p>
                                <p style="text-align:center; word-wrap: break-word;">
                                    {{ userDetails.email }}</p>
                            </div>
                        </div>
                        <div (click)="googleLogout()" style="margin-left: 5%;">
                            <img src="https://image.flaticon.com/icons/svg/1250/1250678.svg"
                                style="width: 25px; height: 25px;" />
                            <button mat-button>Sign out</button>

                        </div>
                    </div>
                </mat-menu>
            </div>

        </div>
    </mat-toolbar-row>

</mat-toolbar>