@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-toolbar-row {
  background-color: #0F9D58;
  // color: #F4B400;
  color: #ffffff;
  position: fixed;
}
img{
  float: right;
  height: 3%;
  width: 3%;
  
}
